---
breadcrumb: PCF Services
title: Pivotal Cloud Foundry Service Broker for AWS
---

##<a id="overview"></a>Overview

The Pivotal Cloud Foundry (PCF) Service Broker for AWS gives app developers
the ability to create and manage Amazon Web Services (AWS) products,
such as database services and S3 storage, from the Cloud Foundry Command Line Interface (cf CLI).

Service Broker for AWS exposes the selected AWS products in the Marketplace.
App developers then create and manage a service instance using the cf CLI commands `create service`, `bind service`, `unbind service`, and `delete service`.
After obtaining a service key using the `create-service-key` command,
developers can use the key with the AWS CLI to perform additional operations as permitted by the PCF operator. 

The following AWS products are supported:

  * Amazon Relational Database Service (RDS) for
      - [PostgreSQL](https://aws.amazon.com/rds/postgresql/)
      - [MySQL](https://aws.amazon.com/rds/mysql/)
      - [MariaDB](https://aws.amazon.com/rds/mariadb/)
      - [SQL Server](https://aws.amazon.com/rds/sqlserver/)
      - [Oracle Database](https://aws.amazon.com/rds/oracle/)
  * [Amazon Aurora](https://aws.amazon.com/rds/aurora/)
  * [Amazon DynamoDB](https://aws.amazon.com/dynamodb/)
  * [Amazon Simple Storage Service (S3)](https://aws.amazon.com/s3/)
  * [Amazon Simple Queue Service (SQS)](https://aws.amazon.com/sqs/)
  * [Amazon Elastic MapReduce (EMR)](https://aws.amazon.com/emr/)

##<a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Service Broker for AWS:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.5.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March XX, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.10 and later</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.10 – v1.12</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS)* version(s)</td>
        <td>v2.0 and later</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.
[//]: # (For more information, see [Pivotal Application Service (PAS) Highlights](http://docs.pivotal.io/pivotalcf/2-0/installing/highlights.html#ert). )


