---
breadcrumb: PCF Services
title: VMware Tanzu Service Broker for AWS
---

The [<%= vars.product_full %>](https://network.pivotal.io/products/pcf-service-broker-for-aws) provides
[Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) users with the ability
to create and manage Amazon Web Services (AWS) resources from the Cloud Foundry Command Line Interface (cf CLI).

##<a id="overview"></a>Overview

The <%= vars.product_short %> is installed once and exposes the selected AWS services in the Marketplace.
App developers can then create and manage a service instance by using the cf CLI commands `create service`,
`bind service`, `unbind service`, and `delete service`.
After obtaining a service key using the `create-service-key` command,
developers can use the key with the AWS CLI to perform additional operations as permitted by their PCF operator.

AWS Services currently supported include:

* [Amazon RDS for PostgreSQL](https://aws.amazon.com/rds/postgresql/)
* [Amazon S3](https://aws.amazon.com/s3/)
* [Amazon RDS for MySQL](https://aws.amazon.com/rds/mysql/)
* [Amazon Aurora](https://aws.amazon.com/rds/aurora/)
* [Amazon RDS for SQL Server](https://aws.amazon.com/rds/sqlserver/)
* [Amazon DynamoDB](https://aws.amazon.com/dynamodb/)
* [Amazon RDS for Oracle Database](https://aws.amazon.com/rds/oracle/)
* [Amazon RDS for MariaDB](https://aws.amazon.com/rds/mariadb/)
* [Amazon SQS](https://aws.amazon.com/sqs/)


##<a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Service Broker for AWS:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.4.16</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 3, 2020</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.ops_manager %> versions</td>
        <td>2.3–2.9</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) versions</td>
        <td>2.3–2.9</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>
