---
breadcrumb: PCF Services
title: Using Service Keys with AWS
---

Service keys provide credentials that you can configure manually
for consumers of marketplace services. 
App developers can use these keys to perform tasks against underlying resources
 - for example, S3 buckets or EMR clusters - using the AWS CLI. 
These tasks are defined by the Operator using service key policy templates.

For more information on Service Key policies, see [Service Key Policies](installation.html#service_key_policies).

##<a id="create"></a>Create Service Key

Run the following command to create a service key for a service instance:
<pre class="terminal">$ cf create-service-key YOUR-SERVICE-INSTANCE SERVICE-KEY-NAME</pre>

This command creates a service key for "YOUR-SERVICE-INSTANCE" named "SERVICE-KEY-NAME".

##<a id="credentials"></a>Get Credentials for a Service Key

To view the corresponding credentials, run the following command:
<pre class="terminal">$ cf service-key YOUR-SERVICE-INSTANCE SERVICE-KEY-NAME</pre>

This returns credentials in JSON format, containing the `access_key_id`, `secret_access_key` and the Amazon Resource Name (`arn`) for the underlying resource in AWS. For example, service key credentials for an S3 bucket would return the following:

<pre class="terminal">
{
 "access_key_id": "AKIAIOSFODNN7EXAMPLE",
 "arn": "arn:aws:s3:::bucket-name",
 "secret_access_key": "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
}
</pre>

**EMR Config** introduced in v1.5.0 does not use `arn`, so the `cluster_id` is returned instead:

<pre class="terminal">
{
  "cluster_id": "the-emr-cluster-id",
  "master_public_dns_name": "the-public-dns-name-for-master-node",
  "region": "some-aws-region",
  "access_key_id": "some-access-key-id",
  "secret_access_key": "some-secret-access-key"
}
</pre>

<p class="note"><strong>Note</strong>: When creating a service key, a new IAM user is created with a policy defined by the Operator.
   This policy can be configured to optionally time out after a time period specified by the Operator.</p>

##<a id="list"></a>List Service Keys for a Service Instance

To list service keys for a service instance, use the `cf service-keys` command:

<pre class="terminal">
$ cf service-keys YOUR-SERVICE-INSTANCEE
Getting service keys for service instance YOUR-SERVICE-INSTANCE as me@example.com...

SERVICE-KEY-NAME
mykey1
mykey2

</pre>

##<a id="delete"></a>Delete Service Key

<p class="note warning"><strong>Warning:</strong> In addition to removing access to the service instance, 
deleting a service key <strong>also deletes the underlying IAM user.</strong></p>

To delete a service key, use the `cf delete-service-key` command:

<pre class="terminal">
$ cf delete-service-key YOUR-SERVICE-INSTANCE SERVICE-KEY-NAME

Are you sure you want to delete the service key SERVICE-KEY-NAME ? y
Deleting service key SERVICE-KEY-NAME for service instance YOUR-SERVICE-INSTANCE as me@example.com...

OK
</pre>

Add option `-f` to force deletion without confirmation.

<pre class="terminal">
$ cf delete-service-key -f YOUR-SERVICE-INSTANCE SERVICE-KEY-NAME

Deleting service key SERVICE-KEY-NAME for service instance YOUR-SERVICE-INSTANCE as me@example.com...

OK
</pre>

<br>For more information about service keys, see [Managing Service Keys](https://docs.pivotal.io/pivotalcf/2-0/devguide/services/service-keys.html).
