---
breadcrumb: PCF Services
title: Using Service Keys with AWS
---

Service keys provide credentials for manually configuring consumers of marketplace services. 
App developers can use these keys to perform tasks against the underlying resource using the AWS CLI. 
These tasks are defined by the Operator using service key policy templates.

Run the following command to create a service key for a service instance:
<pre class="terminal">$ cf create-service-key YOUR-SERVICE-INSTANCE SERVICE-KEY-NAME</pre>

This command creates a service key for "YOUR-SERVICE-INSTANCE" named "SERVICE-KEY-NAME".

To view the corresponding credentials, run the following command:
<pre class="terminal">$ cf service-key YOUR-SERVICE-INSTANCE SERVICE-KEY-NAME</pre>

This returns credentials in JSON format, containing the Access Key ID and Secret, and the Amazon Resource Name (ARN) for the underlying resource in AWS. For example, service key credentials for an S3 bucket would return the following:

<pre class="terminal">
{
 "access_key_id": "AKIAIOSFODNN7EXAMPLE",
 "arn": "arn:aws:s3:::bucket-name",
 "secret_access_key": "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
}
</pre>

**EMR Config** introduced in v1.5.0 does not use ARNs, so the cluster ID is returned instead:

<pre class="terminal">
{
  "cluster_id": "the-emr-cluster-id",
  "master_public_dns_name": "the-public-dns-name-for-master-node",
  "region": "some-aws-region",
  "access_key_id": "some-access-key-id",
  "secret_access_key": "some-secret-access-key"
}
</pre>

<p class="note"><strong>Note</strong>: When creating a service key, a new IAM user is created with a policy defined by the Operator.
   This policy can be configured to optionally time out after a time period specified by the Operator.</p>

##<a id="delete"></a>Delete Service Key

<p class="note warning"><strong>Warning:</strong> In addition to removing access to the service instance, 
deleting a service key also deletes the underlying IAM user.</p>

To delete a service key, use the `cf delete-service-key` command:

<pre class="terminal">
$ cf delete-service-key YOUR-SERVICE-INSTANCE SERVICE-KEY-NAME

Are you sure you want to delete the service key SERVICE-KEY-NAME ? y
Deleting service key SERVICE-KEY-NAME for service instance YOUR-SERVICE-INSTANCE as me@example.com...

OK
</pre>

Add option `-f` to force deletion without confirmation.

<pre class="terminal">
$ cf delete-service-key -f YOUR-SERVICE-INSTANCE SERVICE-KEY-NAME

Deleting service key SERVICE-KEY-NAME for service instance YOUR-SERVICE-INSTANCE as me@example.com...

OK
</pre>

For more information about Service Keys, see [Managing Service Keys](https://docs-pcf-staging.cfapps.io/pivotalcf/1-12/devguide/services/service-keys.html).
