---
breadcrumb: PCF Services
title: Troubleshooting the PCF Service Broker for AWS
---

This topic provides basic troubleshooting techniques and FAQs for the Pivotal Cloud Foundry (PCF) Service Broker for AWS.

##<a id="token-op"></a> Problem: Invalid Token (Operator)
As a PCF operator, when deploying the tile by clicking **Apply Changes**,
I get the following error:
"A client error (InvalidClientTokenId) occurred when calling the GetUser operation:
The security token included in the request is invalid."

### Reason
The AWS credentials are not valid. Recheck them or re-create the credentials.

### Solution
Verify or re-create the credentials found on the **AWS Config** pane
in the **Access Key ID** and **Secret Access Key** fields.

For more information, see [AWS Config](./installation.html#aws-config).


##<a id="brokers"></a> Problem: Cannot Remove Brokers
As a PCF operator, when deleting the product tile, I get the following error:
"Can not remove brokers that have associated service instances".

### Reason
Your service broker currently has service instances that are active.
They must be deleted before the tile can be deleted.

### Solution
Delete active service instances and try again to delete the tile.
For more information, see [Delete a Service Instance](./creating.html#delete).


##<a id="token-dev"></a> Problem: Invalid Token (Developer)
As a developer, when trying to create a service, I get the following error:
"Service broker error: InvalidClientTokenId:
The security token included in the request is invalid."

### Reason
The AWS credentials are not valid.

### Solution
Ask your PCF operator to verify or re-create the AWS credentials.


##<a id="cannot-modify"></a> Problem: Cannot Modify an Object
As a developer, I cannot modify an object when using `ALTER` or `DROP`.

### Reason
When the object was created, the role was not `binding_group`.

### Solution
To resolve this, your PCF operator must contact support.
For more information, see [Global Support Contacts](https://pivotal.io/support/contact).
