---
breadcrumb: PCF Services
title: Troubleshooting
---

This topic presents some common problems and errors encountered with the Pivotal Cloud Foundry Service Broker for AWS (Service Broker for AWS). 

## Troubleshooting for Operators

Review this list when you, as an operator, troubleshoot the Service Broker for AWS. 

<table class="nice">
    <th>Symptom</th>
    <th>Reason</th>
    <th>Solution</th>
  	<tr>
    	<td>Tile deployment token ID error<br><br>
    		After clicking <strong>Apply Changes</strong> to deploy the tile, I get this error:
    		<code>A client error (InvalidClientTokenId) occurred when calling the GetUser operation: The security token included in the request is invalid.</code></td>
    	<td>The AWS credentials are invalid.</td>
    	<td>Verify or re-create the credentials. 
		Q: Is there a cross-reference for checking or creating credentials?</td>
  	</tr>
  	<tr>
    	<td>Unable to remove the AWS broker<br><br>
    		When deleting the Service Broker for AWS tile, I get this error:
    		<code>Can not remove brokers that have associated service instances</code></td>
    	<td>The service broker has active service instances.</td>
    	<td>Delete active service instances and try again to delete the tile.</td>
  	</tr>
</table>


## Troubleshooting for Developers

Review this list when you, as a developer, troubleshoot the Service Broker for AWS. 

<table class="nice">
    <th>Symptom</th>
    <th>Reason</th>
    <th>Solution</th>
  	<tr>
    	<td>Service creation token ID error<br><br>
    		When trying to create a service, I get this error: 
    		<code>Service broker error: InvalidClientTokenId: The security token included in the request is invalid.</code></td>
    <td>The AWS credentials are invalid.</td>
    <td>Ask your operator to verify or re-create the credentials. </td>
  	</tr>
</table>